/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  color: #00252e;
}

.container {
  max-width: 140rem;
  width: 95%;
  margin-inline: auto;
}

h1 {
  line-height: 1.5;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}

.header {
  padding: 2rem 0;
  min-height: 40vh;
  background-color: #ebfbff;
  background-image: url(../images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}
@media (min-width: 768px) {
  .header {
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover;
  }
}
.header__top {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 12rem;
}
.header__btn {
  color: #fff;
  background-color: #ff52bf;
  padding: 1rem 4rem;
  text-align: center;
  border-radius: 69rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  transition: all 250ms ease;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.header__btn:hover {
  background-color: #ff85d2;
  color: white;
  transform: scale(1.1);
}
.header__btn-f {
  color: #00252e;
  background-color: #fff;
  padding: 1rem 4rem;
  text-align: center;
  border-radius: 69rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  transition: all 250ms ease;
}
.header__btn-f:hover {
  background-color: white;
  color: #d2d6db;
  transform: scale(1.1);
}
.header__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .header__content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
}
.header__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex: 1;
}
@media (min-width: 1024px) {
  .header__left {
    align-items: flex-start;
  }
}
.header__right {
  flex: 2;
}

.cards {
  padding: 10rem 0 15rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.cards__box {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 4rem;
}
@media (min-width: 1024px) {
  .cards__box {
    padding: 5rem;
    flex-direction: row;
  }
  .cards__box:nth-child(2) {
    flex-direction: row-reverse;
  }
}
.cards__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .cards__content {
    align-items: flex-start;
    text-align: left;
    max-width: 40%;
  }
}
.cards__text {
  color: #808d99;
}
.cards__images {
  display: flex;
}
@media (min-width: 1024px) {
  .cards__images {
    justify-content: flex-end;
  }
  .cards__images-s {
    justify-content: flex-start;
  }
}
@media (min-width: 1024px) {
  .cards__img {
    max-width: 80%;
  }
}

.cta {
  position: absolute;
  background-color: #fff;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  padding: 2rem 0;
  border-radius: 1rem;
  right: 50%;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  max-width: 55rem;
  padding: 4rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.cta__heading {
  font-size: 2.5rem;
}

.footer {
  padding-top: 10rem;
  background-color: #00252e;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.footer__box {
  padding: 5rem 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 1024px) {
  .footer__box {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 1;
}
.footer__logo {
  max-width: 20rem;
}
.footer__info {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 2rem;
}
.footer__wrap {
  flex: 2;
}
.footer__center {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .footer__center {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__link {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.footer__link::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #808d99;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 250ms ease;
}
.footer__link:hover::before {
  transform: scaleX(1);
}
.footer__icons {
  margin-top: 2rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 1024px) {
  .footer__icons {
    margin: 0;
  }
}
.footer__socials {
  position: relative;
  transition: all 0.7s ease;
  cursor: pointer;
}
.footer__socials::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  bottom: 0;
  left: 50%;
  top: 50%;
  padding: 1.5rem;
  transform: translate(-50%, -50%);
  transition: all 250ms ease;
}
.footer__socials:hover {
  color: #ff52bf;
  transform: rotateY(90deg);
}
.footer__socials:hover::after {
  border: 1px solid #ff52bf;
}
.footer__copyright {
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}
@media (min-width: 1024px) {
  .footer__copyright {
    text-align: right;
  }
}/*# sourceMappingURL=app.css.map */