@use '../base/variables' as v ;
@use '../base/mixins' as m ;

.cta {
  position: absolute;
  background-color: v.$white;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
  padding: 2rem 0;
  border-radius: 1rem;
  right: 50%;
  left: 50%;
  top: 0;
  transform: translate(-50%,-50%);
  max-width: 55rem;
  padding: 4rem;
  box-shadow: 
  rgba(0, 0, 0, 0.12) 0px 1px 3px, 
  rgba(0, 0, 0, 0.24) 0px 1px 2px;

  &__heading {
    font-size: 2.5rem;
  }
}