@use '../base/variables' as v ;
@use '../base/mixins' as m ;

.header {
  padding: 2rem 0;
  min-height: 40vh;
  background-color: v.$paleCyan;
  background-image: url(../images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  @include m.tablet { 
    background-image: url(../images/bg-hero-desktop.svg);
    background-size: cover
  }
  @include m.grid(1,4rem);

  &__top {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 12rem;
  }

  &__btn {
    @include m.btn(v.$white,v.$pink,v.$white);
    box-shadow: rgba(0, 0, 0, 0.4) 
    0px 2px 4px, rgba(0, 0, 0, 0.3) 
    0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 
    0px -3px 0px inset;
    &-f {
      @include m.btn(v.$darkCyan,v.$white,v.$grayBlue);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
    @include m.desktop { 
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: left;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 1;
    @include m.desktop { 
      align-items: flex-start
    }
  }

  &__right {
    flex: 2;
  }
}